body {
  font-family: Arial, sans-serif;
  padding: 5%;
}
h1, h2{
  font-family: "Acme", sans-serif;
  border-bottom: 1px solid #bbb;
}

table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 400px;
}

th,
td {
  padding: 0.5em 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  white-space: pre;
}

th {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

tr:nth-child(odd) {
  background-color: #bed;
}

tr:hover {
  background-color: #ace;
}

caption {
  caption-side: top;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem;
}

.blank {
  background-color: #000;
}