/* ---------- MEDIUM SCREENS ---------- */

@media (min-width: 600px) {
    .header-content {
        padding: 15px 25px;
    }

    #menu-button {
        display: none;
    }

    nav {
        display: flex;
        width: auto;
        flex-direction: row;
        align-items: center;
        margin-top: 0;
        background-color: transparent;
    }

    nav a {
        padding: 10px 14px;
        color: var(--white);
    }

    main {
        padding: 30px 25px 45px;
    }

    h1 {
        font-size: 2.2rem;
        margin-bottom: 30px;
    }

    .temple-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 25px;
    }
}

/* ---------- LARGE SCREENS ---------- */

@media (min-width: 950px) {
    .header-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px 25px;
    }

    .temple-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 30px;
    }

    figure img {
        max-width: 320px;
    }
}